body{
    display:flex;
    flex-direction:column;
    min-height:230vh;
    margin:0px;  
    font-family: "Josefin Sans", sans-serif; 
   
}

/*one*/

.one{
    background-color: #1F2937;
    color:#f9faf8;
    flex:2;
    display:flex;
    flex-direction:column;
    padding:15px 300px 0px 300px;
}


.header{
    font-size:30px;
    display:flex;
    gap:30px;
    font-size:20px;
    align-items:center;
    
}

.actualheader {
    margin-right:auto;
    font-size:40px;
    font-weight:bold;
}

.awesome{
    height:100px;
    display:flex;
    align-items:center;
    margin-top:250px;
    gap:200px;
    margin-bottom:-30px;
   
}

.image1{
    width:500px;
    height:auto;
}

.button-9 {
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width:120px;
  
}

.button-9:disabled {
  cursor: default;
}

.button-9:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

.websiteisa{
    font-weight: bold;
    font-size:60px;
    line-height: 55px;
}

.list {
    display:flex;
    flex-direction:column;
    gap:50px;
}

.websitetext {
    font-size:20px;
}



/*two*/


.two {
    flex:3;
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:40px;
    justify-content:center;
}

.randominfo {
    margin-bottom:70px;
    margin-top:-70px;
    font-size:60px;
    color:black;
    font-weight:bold;
}

.boxes{
    
    display:flex;
    gap:90px;
    
}

.box{
    width:200px;
    height:200px;
    border-width: 2px;
  border-color: red;
  border-style: none;
  border-radius:25px;
  display:flex;
  overflow: hidden;
  justify-content:center;
  align-items:center;
}

.boxwithtext{
    width:200px;
    height:300px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
}

.image2 {
    width:200px;
    height:200px;
}

.image3{
    width:230px;
    height:230px;
}

.image4{
    width:270px;
    height:270px;
}

p{
    font-weight:bold;
    font-size:25px;
    padding-top:30px;
    
}









.three {
    flex:3;
    background-color:#E5E7EB
}

.four {
    flex:2;}

.footer {
    flex:1;
    background-color: #1F2937;
    color: #F9FAf8;
    display:flex;
    justify-content:center;
    align-items:center;
}